body {
  background-color: #F7F7F7;
}
header{
  display: inline-flex;
}

.offset1{
  margin-left:1%;
}
.loadTime {
  max-width: 100px;
}
.btn-secondary:focus,.btn-secondary:active:focus,.btn-secondary.active:focus,
.btn-secondary.focus,.btn-secondary:active.focus,.btn-secondary.active.focus,
.btn-secondary.dropdown-toggle:focus{
  outline: none;
  box-shadow: none!important;
}
secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background-color: inherit!important;
  border-color: inherit!important;
}
btn{
  border:none!important;
}

